#wrapper
  .content
    = render partial: "shared/sidebar"
    .main
      .header
        .group-info
          .group-info__title
            sampleグループ
          %ul{class: "group-info__members"}
            .group-info__members__title
              Member：
            %li{class: "group-info__members__member"}
              test Taro
        .header__edit-button
          edit
      .messages
        = render partial: "shared/message", collection: @messages
      .forms
        = form_for [@group, @message] ,html: {class: "form"} do |f|
          = f.text_field :body, class: "form__message", placeholder: "type a message"
          .form__uploader
            = f.label :image do
              = fa_icon "image"
              = f.file_field :image, class: "form__uploader--hidden"
          = f.submit "Send", class: "form__submit"
