.sidebar
  .account
    %h2{class: "account__name"}
      = current_user.name
    %ul{class: "account__options"}
      %li{class: "account__options__list"}
        = link_to new_group_path do
          = fa_icon "edit"
      %li{class: "account__options__list--cog"}
        = link_to edit_user_path(current_user) do
          = fa_icon "cog"
  .groups
    = render partial: "shared/groups"
